
body {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    padding: 20px;
    border-radius: 17px;
    border-width: 0 4px 8px 12px;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 50px;
    background-color: teal;
    padding: 25px;
    border-radius: inherit;
    border: thick double #32a1ce;
    font-size: 20px;
    transition: 10s;
}

nav {
    background-color: gold;
    display: flex;
    justify-content: space-around;
    border-radius: 10% 30% 50% 70%;
    border: 4mm ridge rgba(211, 220, 50, .6);
    transition: 10s;
}

nav a:hover {
    color: seagreen;
    background-color: black;
    border-top-right-radius: 250px 100px;
    border-top-style: dotted;
    transform: translateX(60px);
    transition: 5s;
}

nav:hover {
    background-color: aquamarine;
    border-width: 0 4px 8px 12px;
    border-start-end-radius: 250px 100px;
    direction: rtl;
    transform: translateX(60px);
    transition: 5s;
}

.qwerty {
    color: grey;
    background-color: blue;
}

h1, h2 {
    background-color: aquamarine;
    text-align: center;
    color: blue;
    border-radius: 10% / 50%;
    border-width: 4px 1.25em;
    margin: 30px;
    padding: 20px;
    transition: 10s;
}

h1:hover, h2:hover {
    color: grey;
    background-color: goldenrod;
    border-style: dashed groove none dotted;
    border-top-right-radius: 50%;
    border: black 10px double;
    background-clip: content-box;
    transform: translateX(60px);
    transition: 5s;
}

main p {
    font-size: 30px;
    padding: 10px;
}

.reviews {
    width: 870px;
    float: left;
    margin-left: 30px;
}

.review {
    border-left: 10px double navy;
    width: 350px;
    padding-left: 10px;
    margin-bottom: 20px; /* Устранение наложений между отзывами */
}

.review-text::before {
    content: url("/uploads/2021/03/message_0_1614945444.svg");
    width: 30px;
    height: 30px;
    display: inline-block;
}

.review::after {
    content: url("/uploads/2021/03/like_%D0%BD%D0%B5_%D0%BD%D0%B0%D0%B6%D0%B0%D1%82_0_1614967388.svg");
    width: 30px;
    height: 35px;
    display: block;
}

.review:hover::after {
    border-bottom: 3px dotted goldenrod;
}

footer {
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 4px inset aquamarine;
    clear: both;
    margin-top: 20px;
    position: relative;
}

footer p {
    text-align: center;
    background-color: yellow;
    color: yellowgreen;
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
}
